<h1 class="m-3">To comply with current social distancing requirements only {{maxMembers}} people can be in the park at any time.
  To help us stay under this limit, you can indicate when you plan on visiting the park</h1>
<h2 class="m-3">
  Reservations for {{currentDate}} on
  <mat-form-field>
    <mat-select [(ngModel)]="currentSide">
      <mat-option value="large">Large Side</mat-option>
      <mat-option value="small">Small Side</mat-option>
    </mat-select>
  </mat-form-field>
</h2>
<div class="container-fluid">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let time of validTimes" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{beforeNoon(time) ? (time + ' AM'): ((time === '12' ? '12' : time - 12) + ' PM')}}
        </mat-panel-title>
        <mat-panel-description>
          There are currently &nbsp;
          <i [style.color]="reservations[currentSide][time].length < maxMembers ? 'green' : 'red'">{{reservations[currentSide][time].length}}</i>
          &nbsp; reservations for this time
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngIf="reservations && reservations[currentSide][time] && reservations[currentSide][time].length > 0; else noRes">
        <ng-container *ngFor="let reservation of reservations[currentSide][time]; last as last">
          {{reservation.name}}
          <button class="btn btn-danger" *ngIf="reservation.canManage"
                  [swal]="{ title: 'Are you sure you want to remove your reservation?'}"
                  (confirm)="cancelReserve(time)">
            <fa-icon [icon]="faRemove"></fa-icon>
          </button>
          <hr *ngIf="!last">
        </ng-container>
      </ng-container>
      <ng-template #noRes>
        No reservations for this time
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>










  <!--table class="full-width">
    <tr>
      <th *ngFor="let time of validTimes" [style.width]="(validTimes.length / 12) + '%'">
        {{beforeNoon(time) ? (time + ' AM'): ((time === '12' ? '12' : time - 12) + ' PM')}}
        <button class="btn btn-success"
                [swal]="{ title: 'Who is this for?', input: 'text' }"
                (confirm)="reserve(time, $event)">
          <fa-icon [icon]="faAdd"></fa-icon>
        </button>
      </th>
    </tr>
    <tr >
      <td [style.width]="(validTimes.length / 12) + '%'" *ngFor="let time of validTimes">
        <ng-container *ngIf="reservations && reservations[currentSide][time] && reservations[currentSide][time].length > 0; else noRes">
          <ng-container *ngFor="let reservation of reservations[currentSide][time]; last as last">
            {{reservation.name}}
            <button class="btn btn-danger" *ngIf="reservation.canManage"
                    [swal]="{ title: 'Are you sure you want to remove your reservation?'}"
                    (confirm)="cancelReserve(time)">
              <fa-icon [icon]="faRemove"></fa-icon>
            </button>
            <hr *ngIf="!last">
          </ng-container>
        </ng-container>
        <ng-template #noRes>
          No reservations for this time
        </ng-template>
      </td>
    </tr>
  </table-->
</div>
